<!-- eslint-disable @angular-eslint/template/elements-content -->
<form autocomplete="off" [formGroup]="form" class="surface-section py-6 px-4  justify-content-center"
    (ngSubmit)="onSave()">
    <p class="font-medium">Agrega un nuevo libro a la colección:</p>
    <div class="formgrid grid justify-content-center sm:justify-content-start">
        <div class="w-full sm:w-auto">
            <span class="p-float-label mt-5">
                <input formControlName="title" type="text" class="mx-2 w-full sm:w-auto" pInputText id="title" />
                <label htmlFor="title">Título del libro</label>
            </span>
            <small *ngIf="isValidField('title')" class="ml-2 text-red-500">{{displayError('title')}}</small>
        </div>
        <div class="w-full sm:w-auto">
            <span class="p-float-label mt-5">
                <input formControlName="authorName" type="text" class="mx-2 w-full sm:w-auto" pInputText
                    id="authorName" />
                <label htmlFor="authorName">Nombre del autor</label>
            </span>
            <small class="ml-2 text-red-500">Este campo es necesario</small>
        </div>
        <div class="w-full sm:w-auto">
            <span class="p-float-label mt-5">
                <input formControlName="authorSecondName" type="text" class="mx-2 w-full sm:w-auto" pInputText
                    id="authorSecondName" />
                <label htmlFor="authorSecondName">Segundo nombre</label>
            </span>
        </div>
        <div class="w-full sm:w-auto">
            <span class="p-float-label mt-5">
                <input formControlName="lastName" type="text" class="mx-2 w-full sm:w-auto" pInputText id="lastName" />
                <label htmlFor="lastName">Apellido</label>
            </span>
            <small class="ml-2 text-red-500">Este campo es necesario</small>
        </div>
        <div class="w-full sm:w-auto">
            <span class="p-float-label mt-5">
                <input formControlName="authorMotherName" type="text" class="mx-2 w-full sm:w-auto" pInputText
                    id="authorMotherName" />
                <label htmlFor="authorMotherName">Apellido materno</label>
            </span>
        </div>
        <div class="w-full sm:w-auto">
            <span class="p-float-label mt-5">
                <input formControlName="publisher" type="text" class="mx-2 w-full sm:w-auto" pInputText
                    id="publisher" />
                <label htmlFor="publisher">Editorial</label>
            </span>
            <small class="ml-2 text-red-500">Este campo es necesario</small>
        </div>
        <div class="w-full sm:w-auto">
            <span class="p-float-label mt-5">
                <input formControlName="adquisition" type="number" class="mx-2 w-full sm:w-auto" pInputText
                    id="adquisition" />
                <label htmlFor="adquisition">Adquisición</label>
            </span>
            <small class="ml-2 text-red-500">Este campo es necesario</small>
        </div>
        <div class="w-full sm:w-auto">
            <span class="p-float-label mt-5">
                <input formControlName="year" type="text" class="mx-2 w-full sm:w-auto" pInputText id="year" />
                <label htmlFor="year">Año</label>
            </span>
            <small class="ml-2 text-red-500">Este campo es necesario</small>
        </div>
        <div class="w-full sm:w-auto">
            <span class="p-float-label mt-5">
                <input formControlName="collection" type="text" class="mx-2 w-full sm:w-auto" pInputText
                    id="collection" />
                <label htmlFor="collection">Colección</label>
            </span>
            <small class="ml-2 text-red-500">Este campo es necesario</small>
        </div>
        <div class="w-full sm:w-auto">
            <span class="p-float-label mt-5">
                <input formControlName="copies" type="number" class="mx-2 w-full sm:w-auto" pInputText id="copies" />
                <label htmlFor="copies">Copias</label>
            </span>
            <small class="ml-2 text-red-500">Este campo es necesario</small>
        </div>
    </div>
    <div class="mt-4 w-full">
        <button type="submit" label="Agregar" icon="pi pi-save" pButton pRipple class="sm:w-auto w-full">
        </button>
    </div>
</form>