<div class="card surface-section p-6">
    <form autocomplete="off" [formGroup]="form" (ngSubmit)="onSave()">
        <p class="font-medium text-primary text-center sm:text-left">Agrega una nueva tesis a la colección</p>
        <div class="formgrid grid">
            <div class="col-12 sm:col-6 field">
                <span class="p-float-label mt-5">
                    <input class="w-full" required formControlName="title" type="text" pInputText
                        id="title" />
                    <label htmlFor="title">Título de la tesis</label>
                </span>
                <small *ngIf="isValidField('title')" class="ml-2 text-red-500">{{displayError('title')}}</small>
            </div>
            <div class="col-12 sm:col-6 field">
                <span class="p-float-label mt-5">
                    <input class="w-full" required formControlName="authorOne" type="text" pInputText
                        id="authorOne" />
                    <label htmlFor="authorOne">Nombre del primer autor</label>
                </span>
                <small *ngIf="isValidField('authorOne')" class="ml-2 text-red-500">{{displayError('authorOne')}}</small>
            </div>
        </div>
        <div class="formgrid grid">
            <div class="col-12 sm:col-6 field">
                <span class="p-float-label mt-5">
                    <input class="w-full" formControlName="authorTwo" type="text" pInputText
                        id="authorTwo" />
                    <label htmlFor="authorTwo">Nombre del segundo autor</label>
                </span>
            </div>
            <div class="col-12 sm:col-6 field">
                <span class="p-float-label mt-5">
                    <input class="w-full" formControlName="authorThree" type="text" pInputText
                        id="authorThree" />
                    <label htmlFor="authorThree">Nombre del tercer autor</label>
                </span>
            </div>
        </div>
        <div class="formgrid grid">
            <div class="col-12 sm:col-6 field">
                <span class="p-float-label mt-5">
                    <input class="w-full" required formControlName="assessor" type="text" pInputText
                        id="assessor" />
                    <label htmlFor="assessor">Nombre del asesor</label>
                </span>
                <small *ngIf="isValidField('assessor')" class="ml-2 text-red-500">{{displayError('assessor')}}</small>
            </div>
            <div class="col-12 sm:col-6 field">
                <span class="p-float-label mt-5">
                    <input class="w-full" required formControlName="year" type="year" pInputText id="year" />
                    <label htmlFor="year">Año</label>
                </span>
                <small *ngIf="isValidField('year')" class="ml-2 text-red-500">{{displayError('year')}}</small>
            </div>
        </div>
        <div class="flex w-full flex-column sm:w-6">
            <dashboard-add-button [isLoading]="loading" [invalid]="form.invalid" />
        </div>
    <p-toast position="top-center"></p-toast>
    </form>
</div>
