<form class="surface-section py-6 px-4  justify-content-center" action="submit">
    <p class="font-medium">Agrega un nuevo libro a la colección:</p>
    <div class="formgrid grid justify-content-center sm:justify-content-start">
        <div class="w-full sm:w-auto">
            <span class="p-float-label mt-5">
                <input type="text" class="mx-2 w-full sm:w-auto" pInputText id="title" />
                <label htmlFor="title">Título del libro</label>
            </span>
        </div>
        <div class="w-full sm:w-auto">
            <span class="p-float-label mt-5">
                <input type="text" class="mx-2 w-full sm:w-auto" pInputText id="authorName" />
                <label htmlFor="authorName">Nombre del autor</label>
            </span>
        </div>
        <div class="w-full sm:w-auto">
            <span class="p-float-label mt-5">
                <input type="text" class="mx-2 w-full sm:w-auto" pInputText id="authorSecondName" />
                <label htmlFor="authorSecondName">Segundo nombre</label>
            </span>
        </div>
        <div class="w-full sm:w-auto">
            <span class="p-float-label mt-5">
                <input type="text" class="mx-2 w-full sm:w-auto" pInputText id="lastName" />
                <label htmlFor="lastName">Apellido</label>
            </span>
        </div>
        <div class="w-full sm:w-auto">
            <span class="p-float-label mt-5">
                <input type="text" class="mx-2 w-full sm:w-auto" pInputText id="authorMotherName" />
                <label htmlFor="authorMotherName">Apellido materno</label>
            </span>
        </div>
        <div class="w-full sm:w-auto">
            <span class="p-float-label mt-5">
                <input type="text" class="mx-2 w-full sm:w-auto" pInputText id="pusblisher" />
                <label htmlFor="pusblisher">Editorial</label>
            </span>
        </div>
        <div class="w-full sm:w-auto">
            <span class="p-float-label mt-5">
                <input type="number" class="mx-2 w-full sm:w-auto" pInputText id="adquisition" />
                <label htmlFor="adquisition">Adquisición</label>
            </span>
        </div>
        <div class="w-full sm:w-auto">
            <span class="p-float-label mt-5">
                <input type="text" class="mx-2 w-full sm:w-auto" pInputText id="year" />
                <label htmlFor="year">Año</label>
            </span>
        </div>
        <div class="w-full sm:w-auto">
            <span class="p-float-label mt-5">
                <input type="text" class="mx-2 w-full sm:w-auto" pInputText id="collection" />
                <label htmlFor="collection">Colección</label>
            </span>
        </div>
        <div class="w-full sm:w-auto">
            <span class="p-float-label mt-5">
                <input type="number" class="mx-2 w-full sm:w-auto" pInputText id="copies" />
                <label htmlFor="copies">Copias</label>
            </span>
        </div>
    </div>
    <div class="mt-4 w-full">
        <button type="submit" pButton pRipple class="sm:w-auto w-full  justify-content-center">Agregar</button>
    </div>
</form>