<div class="card surface-section py-6 px-4">
	<p class="font-medium text-primary">Inventario de publicaciones dadas de alta</p>
	<p-table
		[value]="publications"
		[paginator]="true"
		[rows]="5"
		[showCurrentPageReport]="true"
		[tableStyle]="{ 'min-width': '50rem' }"
		currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
		[rowsPerPageOptions]="[10, 20]"
		paginatorLocale="es-Es"
	>
		<ng-template pTemplate="header">
			<tr>
				<th style="width: 10%">Título</th>
				<th style="width: 10%">Autor principal</th>
				<th style="width: 10%">Editorial</th>
				<th style="width: 10%">Año</th>
				<th style="width: 10%">ISBN</th>
				<th style="width: 10%">ISSN</th>
				<th style="width: 10%">Volúmen</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-publication>
			<tr>
				<td>{{ publication.title }}</td>
				<td>{{ publication.author }}</td>
				<td>{{ publication.publisher }}</td>
				<td>{{ publication.year }}</td>
				<td>{{ publication.isbn }}</td>
				<td>{{ publication.issn }}</td>
				<td>{{ publication.vol }}</td>
			</tr>
		</ng-template>
	</p-table>
</div>
