<!-- eslint-disable @angular-eslint/template/elements-content -->
<div class="card">
    <p class="font-medium text-primary">Panel para actualizar datos o eliminar elementos</p>
    <p-toast></p-toast>
    <p-table #dt [value]="loans" [rows]="10" [paginator]="true" [globalFilterFields]="['userName']"
        [showLoader]="true" [tableStyle]="{ 'min-width': '75rem' }" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Búsqueda por título de la obra o por colección</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input #textInput (input)="applyFilterGlobal($event, 'contains')" pInputText type="text"
                        placeholder="Buscar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="user" style="min-width:15rem">ID de usuario<p-sortIcon field="user"></p-sortIcon></th>
                <th pSortableColumn="account" style="min-width:15rem">Autorizó<p-sortIcon
                        field="account"></p-sortIcon></th>
                <th pSortableColumn="loanDate" style="min-width:15rem">Fecha y hora de préstamos<p-sortIcon field="loanDate"></p-sortIcon></th>
                <th pSortableColumn="devolutionDate" style="min-width:15rem">Fecha devolución<p-sortIcon
                        field="devolutionDate"></p-sortIcon></th>
                <th pSortableColumn="returned" style="min-width:15rem">Estatus<p-sortIcon field="returned"></p-sortIcon></th>
                <th>Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-loan>
            <tr>
                <td>{{ loan.userId }}</td>
                <td>{{ loan.userName }}</td>
                <td>{{ loan.loanDate | date:'short' }}</td>
                <td>{{ loan.devolutionDate | ZeroDate }}</td>
                <td>
                    <p-tag [value]="loan.returned === true ? 'Devuelto' : 'Sin devolver'" [severity]="getSeverity(loan.returned)"></p-tag>
                </td>
                <td>
                    <button [disabled]="loan?.returned" pButton pRipple icon="pi pi-check-square" class="p-button-rounded p-button-success mr-2"
                        (click)="onUpdateLoan(loan?.id)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                        (click)="onDeleteLoan(loan?.id)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-center">Hay un total de {{ loans ? loans.length :
                0 }} registros en la base de datos</div>
        </ng-template>
    </p-table>
</div>
<p-confirmDialog [rejectButtonStyleClass]="'p-button-outlined'" [acceptLabel]="'Aceptar'" [rejectLabel]="'Cancelar'" [style]="{ width: '450px' }"></p-confirmDialog>
<p-toast></p-toast>
