<!-- eslint-disable @angular-eslint/template/elements-content -->
<div class="card px-10">
	<p-menubar styleClass="py-4" [model]="items">
		<ng-template pTemplate="end">
			<div class="flex align-items-center mr-4">
				<p-avatar
					size="large"
					[label]="initials"
					[style]="{ 'background-color': stringToColor(fullName), color: '#ffffff' }"
				></p-avatar>
				<p-button
					icon="pi pi-cog"
					(click)="menu.toggle($event)"
					iconPos="right"
					pTooltip="Opciones de cuenta"
					tooltipPosition="right"
					severity="info"
					[fitContent]="true"
					[label]="userAccount.email"
					styleClass="p-button-text"
				>
				</p-button>
				<p-menu #menu [model]="accountOptions" [popup]="true"></p-menu>
				<shared-theming-button></shared-theming-button>
			</div>
		</ng-template>
	</p-menubar>
</div>
