<p class="text-primary mt-4 ml-2">Registra una nueva cuenta en el sistema</p>
<form (ngSubmit)="onChangePassword()" [formGroup]="passwordForm" class="flex flex-column align-items-center surface-section py-6 px-4">
    <div class="w-full sm:w-6 mb-6">
        <div class="p-float-label mt-5">
            <p-password 
            formControlName="firstPassword" 
            [toggleMask]="true" class="w-full" 
            [style]="{'width':'100%'}"
            [inputStyle]="{'width':'100%'}" 
            promptLabel="Seguridad de tu contraseña"
            [ngClass]="{'ng-invalid ng-dirty': 
            passwordForm.get('firstPassword')?.invalid && (passwordForm.get('firstPassword')?.dirty 
            || passwordForm.get('firstPassword')?.touched)}"
            >
            </p-password>
            <label htmlFor="firstPassword">Contraseña</label>
        </div>
        <small *ngIf="isValidField('firstPassword')" class="ml-2 text-red-500">{{displayError('firstPassword')}}</small>
    </div>
    <div class="w-full sm:w-6">
        <div class="p-float-label mt-5">
            <p-password 
            formControlName="password"  
            [toggleMask]="true" 
            class="w-full" 
            [style]="{'width':'100%'}"
            [inputStyle]="{'width':'100%'}" 
            [feedback]="false"
            [ngClass]="{'ng-invalid ng-dirty': 
            passwordForm.get('password')?.invalid && (passwordForm.get('password')?.dirty 
            || passwordForm.get('password')?.touched)}"
            >
            </p-password>
            <label htmlFor="password">Repite tu contraseña</label>
        </div>
        <small *ngIf="isValidField('password')" class="ml-2 text-red-500">{{displayError('password')}}</small>
    </div>
    <div class="flex w-full flex-column sm:w-6">
        <dashboard-add-button [isLoading]="loading" [label]="'Guardar'" [invalid]="passwordForm.invalid" />
    </div>
    <p-toast position="top-center"></p-toast>
</form>
