<!-- eslint-disable @angular-eslint/template/elements-content -->

<div class="surface-card p-4 shadow-6 border-round w-full">
    <div class="text-center mb-5">
        <div class="text-900 text-primary text-3xl font-medium mb-3">Iniciar sesión</div>
        <i class="pi pi-at" style="font-size: 2.5rem; color: #6366F1;"></i>
    </div>

    <form [formGroup]="loginForm" (submit)="onLogin()">
        <div>
            <label for="email" class="block text-900 font-medium mb-2">Correo</label>
            <input formControlName="email" id="email" type="text" placeholder="nombre@correo.com" pInputText class="w-full mb-5">
    
            <label for="password" class="block text-900 font-medium mb-2">Contraseña</label>
            <input formControlName="password" id="password" type="password" placeholder="Tu contraseña" pInputText class="w-full mb-5">
    
            <div class="flex align-items-center justify-content-between mb-6">
                <div class="flex align-items-center">
                    <p-checkbox id="rememberme" [binary]="true" styleClass="mr-2"></p-checkbox>
                    <label class="text-primary" for="rememberme">Recordar mis datos</label>
                </div>
            </div>
            <button
                type="submit"
                pButton
                pRipple
                class="w-full justify-content-center"
                [disabled]="loginForm.invalid"
            >
                <ng-container *ngIf="isLoading; else noLoading">
                    <i class="pi pi-spin pi-spinner" style="font-size: 1.4rem"></i>
                </ng-container>
                <ng-template #noLoading>
                    <span class="mr-2 font-medium">Iniciar sesión</span>
                    <i class="pi pi-user"></i>
                </ng-template>
            </button>
        </div>
    </form>
    <p-toast position="top-center"></p-toast>
</div>
