<div class="surface-section px-4 py-5 md:px-6 lg:px-8">
	<div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
		<div>
			<div class="flex align-items-center text-700 flex-wrap">
				<div class="mr-5 flex align-items-center mt-3">
					<i class="pi pi-id-card mr-2"></i>
					<span>Cuentas registradas: {{ accounts.length }}</span>
				</div>
				<div class="mr-5 flex align-items-center mt-3">
					<i class="pi pi-users mr-2"></i>
					<span>Total usuarios: {{ users.length }}</span>
				</div>
				<div class="flex align-items-center mt-3">
					<i class="pi pi-clock mr-2"></i>
					<span>Última sesión: {{ date | date }}</span>
				</div>
			</div>
		</div>
		<div class="mt-3 lg:mt-0"></div>
	</div>
</div>

<div class="surface-section px-4 py-4 md:px-6 lg:px-8 text-center">
	<div class="mb-6 font-bold text-3xl">
		<span class="text-900">Sistema de Gestión Bibliotecario</span>
		<span class="text-primary"> (SISGEB)</span>
	</div>
	<div class="grid">
		<div class="col-12 md:col-4 mb-4 px-5">
			<span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
				<i class="pi pi-desktop text-4xl text-primary"></i>
			</span>
			<div class="text-900 text-xl mb-3 font-medium">Gestiona</div>
			<span class="text-700 line-height-3"
				>Desde cualquier lugar, solo necesitas acceso tus credenciales y acceso a internet.</span
			>
		</div>
		<div class="col-12 md:col-4 mb-4 px-5">
			<span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
				<i class="pi pi-lock text-4xl text-primary"></i>
			</span>
			<div class="text-900 text-xl mb-3 font-medium">Seguridad</div>
			<span class="text-700 line-height-3"
				>Con nuestro sistema de autenticación, tu información siempre estará a salvo.</span
			>
		</div>
		<div class="col-12 md:col-4 mb-4 px-5">
			<span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
				<i class="pi pi-check-circle text-4xl text-primary"></i>
			</span>
			<div class="text-900 text-xl mb-3 font-medium">Fácil de usar</div>
			<span class="text-700 line-height-3"
				>El diseño intuitivo y de facil acceso, permite crear y gestionar registros fácilmente.</span
			>
		</div>
		<div class="col-12 md:col-4 mb-4 px-5">
			<span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
				<i class="pi pi-globe text-4xl text-primary"></i>
			</span>
			<div class="text-900 text-xl mb-3 font-medium">Rápido y de acceso global</div>
			<span class="text-700 line-height-3">Ten seguridad y confianza al momento de acceder a tus registros.</span>
		</div>
		<div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
			<span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
				<i class="pi pi-shield text-4xl text-primary"></i>
			</span>
			<div class="text-900 text-xl mb-3 font-medium">Confiable</div>
			<span class="text-700 line-height-3">Gestiona las cuentas e información personal de manera eficiente.</span>
		</div>
	</div>
</div>
